<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harderthanlasttime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExercisesActivity"
            android:label="Exercises"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".DayActivity"
            android:label="Day Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MeActivity" />
        <activity
            android:name=".CalculatorActivity"
            android:label="Plate Calculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MeActivity"
            android:label="Me" />
        <activity
            android:name=".AddExerciseActivity"
            android:label="Add Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiaryActivity"
            android:label="Workout Diary" />
        <activity
            android:name=".MainActivity"
            android:label="Fit App Name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>