<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verifit" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:label="Reset Password"
            android:parentActivityName=".ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:parentActivityName=".ui.SettingsActivity"/>

        <service android:name=".BackupService" />
        <activity
            android:name=".ui.ChartsActivity"
            android:label="Charts" />
        <activity
            android:name=".ui.CustomExerciseActivity"
            android:label="New Exercise" />
        <activity
            android:name=".ui.ExercisesActivity"
            android:label="Exercises" />
        <activity
            android:name=".ui.DayActivity"
            android:parentActivityName=".ui.DiaryActivity"
            android:label="Day" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.CalculatorActivity"
            android:label="Plate Calculator" />
        <activity
            android:name=".ui.PersonalRecordsActivity"
            android:label="Personal Records"
            android:parentActivityName=".ui.ChartsActivity" />
        <activity
            android:name=".ui.AddExerciseActivity"
            android:label="Add Exercise" />
        <activity
            android:name=".ui.DiaryActivity"
            android:label="Diary" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>