<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verifit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".BackupService" />

        <activity android:name=".SplashScreenActivity"/>
        <activity
            android:name="com.example.verifit.ChartsActivity"
            android:label="Charts"/>
        <activity
            android:name="com.example.verifit.CustomExerciseActivity"
            android:label="New Exercise"/>
        <activity
            android:name="com.example.verifit.ExercisesActivity"
            android:label="Exercises" />
        <activity
            android:name="com.example.verifit.DayActivity"
            android:label="Day" />
        <activity
            android:name="com.example.verifit.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".PersonalRecordsActivity"/>
        <activity
            android:name="com.example.verifit.CalculatorActivity"
            android:label="Plate Calculator" />
        <activity
            android:name="com.example.verifit.PersonalRecordsActivity"
            android:label="Personal Records" />
        <activity
            android:name="com.example.verifit.AddExerciseActivity"
            android:label="Add Exercise" />
        <activity
            android:name="com.example.verifit.DiaryActivity"
            android:label="Diary" />
        <activity
            android:name="com.example.verifit.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>